





a:link {
  color: #a4dd25;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  background-color: #a4dd25;
    background-color: transparent;
  text-decoration: none;
}
a:visited {
   color: #a4dd25;
  background-color: transparent;
  text-decoration: none;
}
.profile{
	position: absolute;
	top: calc(80% - 455px);
	left: calc(50% - 175px);
	height: 250px;
	width: 350px;
	
	margin-top:300px;
	
}

.profile input[type=text]{
	width: 270px;
	height: 35px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 20px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.profile input[type=password]{
	width: 270px;
	height: 35px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 20px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 20px;
}

.profile input[type=submit]{
	width: 270px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 20px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 30px;
}



.profile input[type=submit]:hover{
	opacity: 0.8;
	 background: #a4dd25;
}

.profile input[type=submit]:active{
	opacity: 0.6;
}

.profile input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.profile input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.profile input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
