
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
<base href="/">
<div th:replace="header::header"></div>

</head>
<body>
	<nav th:replace="navbar :: navbar"></nav>

	<div class="welcome" style="margin-top: 60px">
			<div class="container">
			<h2 class="nutrients_layout_head">Discussion <span>Form</span> Rules</h2>
			<div class="farmer_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>
		</div>
	</div>
	<div class="container">
		<ul class="rules">
			<li>No Spam / Advertising / Self-promote in the forums</li>
			<li>Do not post copyright-infringing material</li>
			<li>Do not post “offensive” posts</li>
			<li>Do not cross post questions</li>
			<li>Remain respectful of other members at all times</li>
		</ul>
	</div>
	<div class="postmessage">
		<form th:action="@{/createmessage}" method="post">
			<div style="margin-bottom: 15px">
			 <input type="text" th:field="${message.messageTitle}" required placeholder="Message Title" maxlength="50"/>
			</div>
			<div>
				<textarea th:field="${message.messageContent}" required style="resize: none;" placeholder="Type your message content here..." rows="6" cols="100"></textarea>
			</div>
			<div style="margin-left: 300px">
				<button class="tablink" type="submit" style="width: 50%; margin-top: 20px" >Post Message</button>
			</div>
		</form>
	</div>

	<!-- footer -->
	<footer th:replace="footer :: footer"></footer>

</body>
<script src="js/bootstrap.js"></script>

</html>