<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
<base href="/">
<link href="css/nutrients.css" rel="stylesheet">
<div th:replace="header::header"></div>


</head>
<body>
	<nav th:replace="navbar :: navbar"></nav>

	<div class="welcome">
		<div class="container">
			<h2 class="agileits_w3layouts_head">
				Discussion <span>Form</span>
			</h2>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>
			<div class="w3ls_news_grids ">
				<ul style="margin-left: 40%; margin-right: 20%; margin-bottom: -5%;">
					<li>No Spam / Advertising / Self-promote in the forums</li>
					<li>Do not post copyright-infringing material</li>
					<li>Do not post “offensive” posts</li>
					<li>Do not cross post questions</li>
					<li>Be respectful of other members at all times</li>
				</ul>

			</div>

		</div>

	</div>


	<button class="tablink"
		style="width: 25%; margin: 80px auto; display: grid;"
		onclick="window.location.href='/discussionform'">Back To Form</button>


	<div id="welcome_bottom" class="welcome-bottom">
		<div class="col-md-3 wthree_welcome_bottom_left">
			<div class="agileits_w3layouts_news_grid"
				style="margin-bottom: 0.5rem;" th:each="message : ${messages}">
				<h5>
					<a class="text-muted"
						th:href="@{discussionform/{messageId}(messageId=${message.messageId})}"
						th:text="${message.messageTitle}"> </a>
				</h5>
			</div>

			<div class="clearfix"></div>
		</div>
		<div class="col-md-9 wthree_welcome_bottom_right">


			<div class="mainpost" style="margin-right: 5%;">
				<div>
					<h2 th:text="${message.messageTitle}"
						style="white-space: pre-line; width: 50%; word-wrap: break-word; margin-left: 20%; margin-top: 5%"></h2>
					<p th:text="${message.messageContent}"
						style="margin-top: 5%; white-space: pre-line; width: 100%; word-wrap: break-word;"></p>
					<div style="text-align: right; margin: 5px">
						<strong><a class="text-muted"
							th:href="@{/profile/{userId}(userId=${message.user.userId})}"
							th:text="${message.user.username}"></a></strong>
						<p class="date"
							th:text="${#temporals.format(message.createdDate, 'dd-MM-yyyy HH:mm')}"></p>
						<div
							th:if="${loggedInUser.userId == message.user.userId OR userauthority.authority == 'ROLE_ADMIN'}">
							<form
								th:action="@{/message/{messageId}/delete(messageId=${message.messageId})}"
								method="post">
								<p>
									<button type="submit" class="btn btn-danger">Delete
										Message</button>

								</p>
							</form>
						</div>
					</div>
				</div>
				<hr
					style="height: 3px; border-width: 0; color: gray; background-color: gray">
			</div >
			<div th:each="comment : ${comments}" style="margin-right: 5%;">
				<div style="text-align: left; margin-top: 50px">
					<div th:text="${comment.commentDetails}"
						style="white-space: pre-line; width: 100%; word-wrap: break-word;"></div>
					<div style="text-align: right; margin: 5px">
						<strong><a class="text-muted"
							th:href="@{/profile/{userId}(userId=${comment.user.userId})}"
							th:text="${comment.user.username}"></a></strong>

						<p class="date"
							th:text="${#temporals.format(message.createdDate, 'dd-MM-yyyy HH:mm')}"></p>

						<div
							th:if="${loggedInUser.userId == comment.user.userId OR userauthority.authority == 'ROLE_ADMIN'}">
							<form
								th:action="@{/message/{messageId}/comment/{commentId}delete/(messageId = ${message.messageId}, commentId=${comment.commentId})}"
								method="post">

								<p>
									
										<button type="submit" class="btn btn-danger">Delete
										Comment</button>
								</p>
							</form>

						</div>

					</div>
					<hr>
				</div>
			</div>
			<div style="margin-left: 15%; margin-right: 25%; margin-bottom: 5%;">
				<form style="margin-left: 5%; margin-right: 15%;"
					th:action="@{discussionform/{messageId}(messageId = ${message.messageId})}"
					method="post">
					<div style="margin-left: 1%; margin-right: 15%;">
						<textarea class="form-control" th:field="${newcomment.commentDetails}"
							style="resize: none;" required
							placeholder="Type your comment here..." rows="4" cols="80"></textarea>
					</div>
					<div style="margin-left: 25%; margin-right: 15%;">
						<button class="tablink" type="submit"
							style="width: 30%; margin-top: 20px" th:text="Comment"></button>
					</div>
				</form>
			</div>


			<div class="agileinfo_grid"></div>
		</div>
		<div class="clearfix"></div>
	</div>


	<!-- footer -->
	<footer th:replace="footer :: footer"></footer>

</body>
<script src="js/bootstrap.js"></script>
</html>