<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<div th:replace="header::header"></div>
<link href="css/nutrients.css" rel="stylesheet">

</head>

<body>
	<nav th:replace="navbar :: navbar"></nav>
	<div class="col-md-4 agileits_banner_bottom_left">
		<div class="agileinfo_banner_bottom_pos">
			<div class="w3_agileits_banner_bottom_pos_grid">

				<div class="col-xs-8 wthree_banner_bottom_grid_right">
					<h4>Free Consultation</h4>
					<p>Find best consultants around you to get free community help.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 agileits_banner_bottom_left1">
		<div class="agileinfo_banner_bottom_pos">
			<div class="w3_agileits_banner_bottom_pos_grid">
				<div class="col-xs-8 wthree_banner_bottom_grid_right">
					<h4>Certified Products</h4>
					<p>We all support our farmers on certified products.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 agileits_banner_bottom_left2">
		<div class="agileinfo_banner_bottom_pos">
			<div class="w3_agileits_banner_bottom_pos_grid">
				<div class="col-xs-8 wthree_banner_bottom_grid_right">
					<h4>Free Helpline</h4>
					<p>Use our community service to find your solutions.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="welcome">
		<div class="container"></div>
	</div>
	<div class="welcome" style="margin-top: 60px">
		<div class="container">
			<h2 class="nutrients_layout_head">Welcome <span>USA FARMERS</span> Community</h2>
			<div class="farmer_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>
		</div>
	</div>
	<div style="padding: 10px 280px 80px 280px;">
		<article>Agriculture has changed dramatically since the end
			of World War II. Food and fiber productivity has soared due to new
			technologies, mechanization, increased chemical use, specialization,
			and government policies that favored maximizing production and
			reducing food prices. These changes have allowed fewer farmers to
			produce more food and fiber at lower prices.</article>
		<br>
		<article>Although these developments have had many positive
			effects and reduced many risks in farming, they also have significant
			costs. Prominent among these are topsoil depletion, groundwater
			contamination, air pollution, greenhouse gas emissions, the decline
			of family farms, neglect of the living and working conditions of farm
			laborers, new threats to human health and safety due to the spread of
			new pathogens, economic concentration in food and agricultural
			industries, and disintegration of rural communities.</article>
		<br>
		<article>A growing movement has emerged during the past four
			decades to question the necessity of these high costs and to offer
			innovative alternatives. Today this movement for sustainable
			agriculture is garnering increasing support and acceptance within our
			food production systems. Sustainable agriculture integrates three
			main goals – environmental health, economic profitability, and social
			equity (Figure 1). A variety of philosophies, policies and practices
			have contributed to these goals, but a few common themes and
			principles weave through most definitions of sustainable agriculture.</article>
		<br>
		<article>Agricultural sustainability rests on the principle
			that we must meet the needs of the present without compromising the
			ability of future generations to meet their own needs. Therefore,
			long-term stewardship of both natural and human resources is of equal
			importance to short-term economic gain. Stewardship of human
			resources includes consideration of social responsibilities such as
			working and living conditions of laborers, the needs of rural
			communities, and consumer health and safety both in the present and
			the future. Stewardship of land and natural resources involves
			maintaining or enhancing the quality of these resources and using
			them in ways that allow them to be regenerated for the future.
			Stewardship considerations must also address concerns about animal
			welfare in farm enterprises that include livestock.</article>
	</div>

	<!-- //welcome -->
	<div id="welcome_bottom" class="welcome-bottom">
		<div class="col-md-6 wthree_welcome_bottom_right">
			<div class="agileinfo_grid">
				<figure class="agileits_effect_moses">
					<img src="images/4.jpg" alt=" " class="img-responsive" />
					<figcaption>
						<h4>Plantation <span>For Future Growth</span></h4>
						<p>When the practice of farming spread over the earth, mankind experienced its first population explosion.</p>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="clearfix">
		<br><br><br><br>
		<h2 style="text-align: center; color:white;">We work together</h2><br><br>
		<h2 style="text-align: center; color:white;">We produce together</h2><br><br>
		<h2 style="text-align: center; color:white;">We harvest together</h2><br><br>
		<h2 style="text-align: center; color:white;">We grow together</h2>
		</div>
	</div>
	<div class="welcome">
		<div class="container"></div>
	</div>
	<div class="welcome" style="margin-top: 60px">
		<div class="container">
			<h2 class="nutrients_layout_head">Active Posts on <span>Discussion Form</span></h2>
			<div class="farmer_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>
		</div>
	</div>

	<div class="row">
		<div style="text-align: center; margin-top:15px;"
			th:each="message : ${messages}">
			<h2><a th:href="@{discussionform/{messageId}(messageId=${message.messageId})}" th:text="${message.messageTitle}"></a></h2>
			
		</div>
	</div>

	<!-- footer -->
	<footer th:replace="footer :: footer"></footer>

</body>
</html>