<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<base href="/">
<div th:replace="header::header"></div>

</head>
<body>
	<nav th:replace="navbar :: navbar"></nav>

	<div class="welcome">
		<div class="container">
			<h2 class="agileits_w3layouts_head">
					Farmer <span>Profile</span>
			</h2>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>

		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12" style="margin-top: 1rem;"></div>
			<div class="col-12 table-responsive">
				<button class="tablink"
					style="width: 25%; margin: 80px auto; display: grid;"
					onclick="window.location.href='/discussionform'">Back To
					Form</button>
				<table id="displaycalculator"
					class="table table-bordered table-hover text-center">
					<tr>
						<td>Username</td>
						<td><h4 th:type="text" th:text="${user.username}"></h4></td>
					</tr>
					<tr>
						<td>E-Mail</td>
						<td><h4 th:type="text" th:text="${user.email}"></h4></td>
					</tr>
					<tr>
						<td>Address Line 1</td>
						<td><h4 th:type="text" th:text="${user.address.addressLine1}"></h4></td>
					</tr>
					<tr>
						<td>Address Line 2</td>
						<td><h4 th:type="text" th:text="${user.address.addressLine2}"></h4></td>
					</tr>
					<tr>
						<td>City</td>
						<td><h4 th:type="text" th:text="${user.address.city}"></h4></td>
					</tr>
					<tr>
						<td>State</td>
						<td><h4 th:type="text" th:text="${user.address.state}"></h4></td>
					</tr>
					<tr>
						<td>Zip Code</td>
						<td><h4 th:type="text" th:text="${user.address.zipCode}"></h4></td>
					</tr>
					<tr>
						<td>Produce</td>
						<td><h4 th:type="text" th:text="${user.userProduct}"></h4></td>
					</tr>
				</table>
				<div th:if="${userauthority.authority == 'ROLE_ADMIN'}"
					style="margin-left: 40%; margin-bottom: 5%">
					<form
						th:action="@{/profile/{userId}/delete(userId = ${user.userId})}"
						method="post">

						<button class="tablink" type="submit">Delete User</button>

					</form>
				</div>

			</div>


		</div>
	</div>





	<!-- footer -->
	<footer th:replace="footer :: footer"></footer>

	<script src="js/bootstrap.js"></script>
	<script src="js/calculator.js"></script>
</body>

</html>